@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarheight: 76px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
  transition: all ease 0.25s;
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }

  .offcanvas-backdrop::before {
    display: none;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  .sidebar-nav {
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarheight);
    height: calc(100% - var(--topNavbarheighttopNavbarheight));
  }
}
